@import url(common.css);
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html{scroll-behavior: smooth;}

body{
  font-family: 'GmarketSansMedium';
  color:#4a4646;
  background-color: #f2fafc;
}

/* ------------탑버튼-----------------*/
@keyframes circle{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

.top{
  position: fixed;/* 고정시키겠다 */
  right: 30px;
  bottom: 30px;
}
.top a{
  display: block;/* 바꿔주기 */
  width: 100px;
  height: 100px;
  background: url(../img/top.png) no-repeat;
  animation: circle 5s infinite;
  transition: 0.3s;
}
.top a:hover{
  background-image:url(/img/top2.png);
  animation: circle 8s infinite reverse;}


/* -------------헤더---------------- */

#wrap{
  width: 100%;
  height: 150px;
  background-color: #c6f2fb;
}
header .untilmenu01{
  /* border: 1px solid #000; */
  width: 1400px;
  height: 50px;
  text-align: right;
  margin: auto;
}
.untilmenu01 a{
  display: inline-block;
  margin: 5px;
  margin-top: 20px;
  font-size: 12px;
  font-family: 'Cafe24SsurroundAir';
  color: dimgray;
  transition: 0.2s;
}
.untilmenu01 a:hover{/* 효과 */
  color: #7c4dff;
  font-weight: bold;
}

/* ++++++++로고 + 탑메뉴+++++++++ */
nav{
  background-color: #9c9c9b;
  width: 100%;
  height: 100px;
}
nav .nav_in{
  width: 1400px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gnb{display: flex;}
.gnb li{margin: 0 40px;
margin-bottom: -15px;}
.gnb li a{
  color: #fff;
  font-size: 20px;
  padding: 15px;
  transition: 0.3s;
}
.gnb li a:hover{/* 탑메뉴 눌렀을 때 효과 */
  color: #f8bbd0;
  font-weight: bold;
  border-radius: 20px;
  border: 4px solid #f8bbd0;
}


/* ------------메인---------------- */
main{
  width: 100%;
  height: 600px;
  background: url(/img/main-01.png) no-repeat center center;
  background-size: 100%;
}
main:hover{background-image: url(/img/main-02.png);}


/* ------------셀렉션---------------- */
section{
  width: 100%;
  text-align: center;
}
section>div{
  /* border: 1px solid #7c4dff; */
  margin-top: 80px;}

section h1{
  font-family: 'GmarketSansBold';
  font-size: 60px;
  color:#1b1b1b;
}

/* ++++++++++++신제품 타이틀++++++++++++++ */
.new_title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;

}

/* ++++++++++++신제품 내용++++++++++++++ */
.new{
  width: 1400px;
  /* background-color: #7c4dff; */
  /* height: 1000px; */
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items:center ;
}
.new_img{
  /* border: 1px solid red; */
  width: 300px;
  height: 500px;
  margin: 0 10px;
  position: relative;
}
.new_img img{
  width: 300px;
  height: 300px;}

.front, .back{
  position: absolute;
  top:0;
  text-align: center;
  width: 100%;
  height: inherit;
  box-sizing: border-box;
  transition: 0.5s;
}
.new_img:hover .front{
  top:0;
}
.new_img:hover .back{
  top:65%;
  opacity: 1;
}
.front{z-index: 1;}/* 이거 넣으면 오버랩 되지 않음 */

.back h3{
  font-size: 21px;
}
.back h4{
  font-family: 'GmarketSansLight';
  font-size: 15px;
  color: rgb(150, 148, 148);
  padding-top:10px;
}
.back p{
  font-family: 'GmarketSansLight';
  padding-top: 20px;
  font-size: 13px;
  text-decoration: line-through;
  color: rgb(245, 200, 230);
}
.back span{
  font-family: 'GmarketSansBold';
  font-size: 18px;
  color: rgb(248, 62, 124);
  padding: 5px;
}
.back a{
  display: inline-block;
  background-color: rgb(154, 208, 253);
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 13px;
  margin-top: 20px;
}


/* ++++++++++++카테고리 타이틀++++++++++++++ */
.cate_title{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

/* ++++++++++++카테고리 내용++++++++++++++ */
.category{
  display: flex;
  justify-content: center;
  align-items:center;
  height:450px;
  width: 1400px;
  margin: auto;
  text-align: center;/* 텍스트 */
  /* background-color: #ffffff; */
  padding: 50px;
/*  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.13); */
}
.category a{
  display: inline-block;
  border: 5px solid #fff;
  width: 250px;
  height: 250px;
  margin: 15px;
  border-radius: 50%;
  background-color: #fdffe2;
  position: relative;
  overflow: hidden;
  /* z-index: 0; */
}
.category a:before{
  content: '';
  position: absolute;
  left: 0;
  bottom:0;
  width: 100%;
  height: 0;
  background-color:#f8eaef;
  transition: 0.7s;
}
.category a:hover:before{height: 100%;}

.category .base img{margin-top: 20px;}
.category .eyes img{margin-top: 30px;}
.category .lip img{margin-top: 5px;}
.category .nail img{margin-top: 10px;}
.category .tool img{
  margin-top: 5px;
  margin-left: 15px;}

.category a img{
  position: relative;
  transition: 0.5s;
}
.category a:hover img{transform: rotateY(360deg);}

/* ++++++++++++카테고리 내용 폰트++++++++++++++ */
.base h2{
  font-size: 40px;
  color: #a3e0f4;
  margin-top: 20px;
}
.base p{
  margin-top: 10px;
  font-family:'GmarketSansLight';
  font-size:18px;
  line-height: 30px;
}
.eyes h2{
  font-size: 40px;
  color: #a3e0f4;
  margin-top: 20px;
}
.eyes p{
  margin-top: 10px;
  font-family:'GmarketSansLight';
  font-size:18px;
  line-height: 30px;
}
.lip h2{
  font-size: 40px;
  color: #a3e0f4;
  margin-top: 20px;
}
.lip p{
  margin-top: 10px;
  font-family:'GmarketSansLight';
  font-size:18px;
  line-height: 30px;
}
.nail h2{
  font-size: 40px;
  color: #a3e0f4;
  margin-top: 20px;
}
.nail p{
  margin-top: 10px;
  font-family:'GmarketSansLight';
  font-size:18px;
  line-height: 30px;
}
.tool h2{
  font-size: 40px;
  color: #a3e0f4;
  margin-top: 20px;
}
.tool p{
  margin-top: 10px;
  font-family:'GmarketSansLight';
  font-size:18px;
  line-height: 30px;
}


/* ++++++++++++롬앤-에디션 타이틀++++++++++++++ */
.edi_title{
  text-align: center;
  margin-top: 150px;
  padding-top:20px;
  background-color: #e9e0ff;
}

/* ++++++++++++롬앤-에디션 내용++++++++++++++ */
.editions{
  display: flex;
  justify-content: center;
  align-items: center;background-color: #e9e0ff;
  height: 600px;
}
.edition{
  display: flex;
  text-align: center;
  width: 1400px;
}
.ed_img{
  width: 320px;
  height: 320px;
  /* border: 1px solid #ddd; */
  margin: 10px;
  position: relative;
}
.ed_img img{
  width: 320px;
  height: 320px;
}
.ed_caption{
  position:absolute;
  top:0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: rgba(31, 30, 30, 0.7);
  color: #fff;
  padding: 30% 10%;
  box-sizing: border-box;
  line-height: 35px;
  opacity: 0;
  transition: 0.5s;
}
.ed_img:hover .ed_caption{opacity: 1;}

.ed_caption h3{
  font-size: 20px;
  margin-bottom: 40px ;
}
.ed_caption a{
  border: 2px dotted rgb(247, 247, 193);
  border-radius: 20px;
  padding: 10px 20px;
  font-family: 'GmarketSansLight';
  font-size: 15px;
  transition: 0.5s;
}
.ed_caption:hover a{
  border: 4px dotted rgb(247, 247, 193);
  font-size: 18px;
  color:rgb(247, 247, 193);
  font-family: 'GmarketSansMedium';
}


/* ++++++++++++리뷰 타이틀++++++++++++++ */
.re_title{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

/* ++++++++++++리뷰 메뉴++++++++++++++ */

.review_menu{
  background-color: #fff;
  border-radius: 20px;
  width: 1400px;
  height: 70px;
  margin: auto;
  margin-top: -30px;
}
.review_menu ul{/* ul안에 있는 내용물 */
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Cafe24SsurroundAir';
  font-size: 16px;
  color: dimgray;
}
.review_menu ul li:nth-child(2){/* 하나만 반응형 상태로 두기 */
  border-bottom:3px solid #ddd1fd;
  font-weight: bold;
  color: #4a4646;
  font-size: 18px;
  padding: 0 10px;
  }

/* ++++++++++++리뷰 이미지 위치++++++++++++++ */
.review_img{
  /* border: 1px solid #1b1b1b; */
  width: 1400px;
  margin: auto;
  margin-top: 70px;
}

.review_img ul{overflow: hidden;} 
.review_img ul li{
  float: left;
  margin-top: 40px;/* 리뷰이미지호버효과를위함 */
  margin-right: 30px;
  margin-bottom: 40px;
  margin-left: 30px;
  position: relative;/* 리뷰이미지내용 */
  width: 400px;/* 리뷰이미지내용 */
  height: 400px;/* 리뷰이미지내용 */
  overflow: hidden;
  transition: 0.5s;
}
.review_img ul li:last-child,
.review_img ul li:nth-child(3){
  margin-right: 0;
}

/* ++++++++++++리뷰 이미지 내용  ++++++++++++++ */
.review_img img{border-radius: 15px;}
.review_img ul li:hover{
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
.review_ctent{
  position: absolute;
  top:100%;
  left: 0;
  color: #3e3d3de3;
  width: inherit;
  height: inherit;
  font-family: 'GmarketSansLight';
  padding: 180px 20px 20px;
  box-sizing: border-box;
  transition: 0.5s;
}
.review_img ul li:hover .review_ctent{top:0;}
.review_img ul li:nth-child(1) .review_ctent{
  background: linear-gradient(to top, rgba(248, 36, 72, 0.635), transparent);
  border-radius: 15px;
}
.review_img ul li:nth-child(2) .review_ctent{
  background: linear-gradient(to top, rgba(248, 36, 72, 0.635), transparent);
  border-radius: 15px;
}
.review_img ul li:nth-child(3) .review_ctent{
  background: linear-gradient(to top, rgba(248, 36, 72, 0.635), transparent);
  border-radius: 15px;
}
.review_img ul li:nth-child(4) .review_ctent{
  background: linear-gradient(to top, rgba(145, 220, 112, 0.869), transparent);
  border-radius: 15px;
}
.review_img ul li:nth-child(5) .review_ctent{
  background: linear-gradient(to top, rgba(160, 173, 250, 0.56), transparent);
  border-radius: 15px;
}
.review_img ul li:nth-child(6) .review_ctent{
  background: linear-gradient(to top, rgba(208, 133, 243, 0.56), transparent);
  border-radius: 15px;
}
.review_ctent h4{
  font-size: 30px;
  font-family: 'GmarketSansBold';
  color: #fff;
  margin-bottom: 20px;
}
.review_ctent h4 span{
  display: block;
  font-size: 16px;
  color: #ffffff;
  font-family: 'GmarketSansLight';
}
.review_ctent a{
  font-family: 'GmarketSansMedium';
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #fff;
  padding: 3px 15px;
  display: inline-block;
  margin-top: 8px;
  transition: 0.4s;
}
.review_ctent a:hover{
  background-color: #c6f2fb;
}
.more{
  display: inline-block;
  font-family: 'GmarketSansLight';
  font-size: 20px;
  color: #e64a52;
  border: 2px dotted #e64a52;
  padding: 15px;
  border-radius: 30px;
  background-color: #fff;
  transition: 0.45s;
  margin-top: 50px;
}
.more:hover{
  color: #222;
  font-family: 'GmarketSansMedium';
  border: 2px solid #e64a52;
}


/* ------------푸터---------------- */
footer{
  width: 100%;
  height: 300px;
  margin-top: 150px;
  background-color: #e8e8e8;
  
}
/* ++++++++++++푸터 작은 메뉴++++++++++++ */
.footer_{
  background-color: #f8eaef;
  height: 80px;
}
.footer_menu{
  width: 1400px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.footer_menu a{
  font-family: 'Cafe24SsurroundAir';
  font-size: 20px;
  transition: 0.5s;
}
.footer_menu a:before{
  content:"\f061";
  font-family: fontawesome;
  margin-right: 10px;
  opacity: 0;
  transition: 0.5s;
  }
.footer_menu a:hover:before{opacity: 1;}
.footer_menu:hover a{opacity: 0.3;}
.footer_menu a:hover{opacity: 1;}

/* ++++++++++++푸터 로고+내용++++++++++++ */
.footer_logo{
  width: 1400px;
  height: 220px;
  margin: auto;
  display: flex;
  align-items: center;
}
.footer_logo .text2{
  margin-left: 150px;
  line-height: 30px;
}
.footer_logo .text2 p{
  font-family: 'GmarketSansLight';
  color:rgb(165, 165, 166);
  
}
.footer_logo .text2 p span{
  font-size: 18px;
  font-family: 'GmarketSansMedium';
}
address{
  font-family: 'GmarketSansLight';
  color: rgb(115, 114, 114);
  font-style: normal;
  font-size: 14px;
}